<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Username</label>
        <input
          type="username"
          id="username"
          name="username"
          [(ngModel)]="userName"
          required
          class="form-control"
          placeholder="Enter your username"
        />
        <div *ngIf="loginForm.submitted && !userName" class="error-message">
          Username is required
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          class="form-control"
          placeholder="Enter your password"
        />
        <div *ngIf="loginForm.submitted && !password" class="error-message">
          Password is required
        </div>
      </div>

      <div class="error-message" *ngIf="apiErrors && userName && password">
        <small> EL usuario y/o la contraseña son invalidos. </small>
      </div>

      <button type="submit" class="btn-submit">Login</button>
    </form>
  </div>
</div>
